.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

span {
    color: #00CDCD;
}

h1 {
    font-size: 4.5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px;
}