.container {
  display: flex;
  flex-direction: row;
}

.buttons {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: #e7bc8a;
  border-color: #af6a1a;
  border-width: 5px;
  margin: 10px 0;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

.character-cards {
  width: 750px;
  height: auto;
  border-color: #af6a1a;
  border-width: 5px;
}
